<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connstring"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Douglas\trainning\CSharp\EcontactSolution\Econtact\EcontactUnitTest\TestDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="connstringFake" connectionString="Data Source=(LocalDB)\FAKE;AttachDbFilename=C:\FakeDB.mdf;Initial Catalog=Econtact;Integrated Security=True;"/>
  </connectionStrings>
</configuration>